dataset
photos
covid_19_dataset.tgz
covid_dataset
yelp_dataset.tgz
yelp_photos.tar
paper/conference*
paper/IEEE*
paper/fig1.png
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
paper/README
processed/2019business.json
processed/business.json
processed/checkin.json
processed/closestCity.json
processed/covid_features.json
processed/lastCheckin.json
processed/numberReviews.json
processed/open2019business.json
processed/review.csv
processed/review.json
processed/tip.json
processed/usefulReviews.json
processed/w_matrix.pkl